/* место для вашего кода */

.header {
    margin-top: 92px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    margin-left: 50.5px;
    margin-top: 4.5px;
    max-width: 400px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item {
    list-style: circle;
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    width: 100%;
}

.header__logo {
    width: 148px;
    height: 105px;
    margin-right: 146px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.address {
    width: 241px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-underline-position: under;
}

.header__address {
    margin-top: 2.9px;
    margin-right: 48.6px;
}

.main {
    margin-top: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover {
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 2;
    white-space: nowrap;
    color: white;
    position: relative;
}

.aligned-text {
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-top: 165px;
}

.letter-spacing-extended {
    padding-left: 30px;
}

.aligned-text_center {
    display: flex;
    width: 100%;
    padding-right: 30px;
    justify-content: center;
    margin-top: 12px;
}

.aligned-text_right {
    display: flex;
    width: 100%;
    padding-right: 20px;
    justify-content: end;
    margin-top: 5px;
}

.cover__description {
    display: flex;
    z-index: 2;

    margin-top: 127px;
    margin-left: 78px;
    align-items: center;

    position: relative;
    color: white;
}

.cover__description-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 19px;
    margin-top: 3px;
    margin-left: 0.2px;
}

.bet-button {
    cursor: pointer;
    background: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 256px;
    min-height: 51px;
    margin-left: 76.1px;
}

.lots {
    margin-top: 179px;
    width: 1052px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.lots__heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}

.lots__card-list {
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    list-style-type: none;
    background-position: center;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 563px;
    width: 334px;
    background-size: cover;
    background-position: center;
}

.card-link {
    height: 100%;
    text-decoration: none;
    color: white;
    font-style: normal;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    padding-top: 52px;
    padding-left: 40px;

    width: 292px;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    z-index: 1;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
}

.lots__look-more-link {
    width: 192px;

    margin-top: 30px;
    margin-left: 40px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-position: under;
}

.about {
    margin-top: 146px;
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 487px;
    grid-column-gap: 10px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 47.5px;
    margin-top: 37px;
    background-color: black;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    margin-top: 138px;
    margin-left: 2px;
    width: 690px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.about__text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 30px;
}

.about__text p:first-child {
    padding-top: 103px;
}

.footer {
    margin-top: 291px;
    margin-bottom: 88px;
    width: 1000px;

    display: flex;
    justify-content: space-between;
}

.footer__address {
    margin-top: -2px;
    margin-left: 0.8px;
}

.footer__menu-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 149px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    list-style-type: none;
}

.footer__menu-link {
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}